@using MindCabinet.Shared.DataObjects



<div component-name="TermRender" class="basic @(this.AddedClasses ?? "")" @onclick=@this.OnClick_UI_Async>
    @(this.Term?.Term ?? "?")
    @if( this.Term?.Context?.Context is not null ) {
        <div class="tooltiptext">@this.Term.Context.Context.Term</div>
    }
    @this.ChildContent
    @if( this.HasFavoriteButton && this.Term is not null ) {
        <button class="@(this.Session.FavoriteTerms.Any(t=>t.Id == this.Term.Id) ? "lit" : "unlit")"
                @onclick=@(async e => await this.OnFavoriteButtonClick_Async(e))>
            ★
        </button>
    }
</div>


@code {
    private async Task OnClick_UI_Async( MouseEventArgs args ) {
        if( this.OnClick_Async is not null ) {
            await this.OnClick_Async( args );
        }
    }


    private async Task OnFavoriteButtonClick_Async( MouseEventArgs args ) {
        /*⭐*/
        await this.Session.SetFavoriteTerm_Async(
            term: this.Term!,
            isFavorite: !this.Session.FavoriteTerms.Any(t=>t.Id == this.Term.Id)
        );
    }
}
