@using MindCabinet.Client.Components.Standard
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="@nameof(TermRender)"
        class="basic tooltip-container @(this.AddedClasses ?? "")"
        @onclick=@this.OnClick_UI_Async>
    @if( this.VerboseTermDisplay ) {
        <span>
            @(this.Term?.Term ?? "?")
            @if( this.Term?.Context is not null ) {
                @(" ("+this.Term?.Context?.Term+")")
            }
        </span>
    } else {
        <Tooltip Enabled=@(() => this.Term?.Context is not null)>
            <Anchor>
                @(this.Term?.Term ?? "?")
            </Anchor>
            <TooltipContent>
                @(this.Term?.Context?.Term ?? "-")
            </TooltipContent>
        </Tooltip>
    }
    @this.ChildContent
    @if( this.HasFavoriteButton && this.Term is not null ) {
        <button class=@(async () => await this.CurrentTermIsFavorite_Async() ? "lit" : "unlit")
                @onclick=this.OnFavoriteButtonClick_UI_Async>
            ★
        </button>
    }
</div>


@code {
    private async Task OnClick_UI_Async( MouseEventArgs args ) {
        if( this.OnClick_Async is not null ) {
            await this.OnClick_Async( args );
        }
    }


    private async Task OnFavoriteButtonClick_UI_Async( MouseEventArgs args ) {
        /*⭐*/
        await this.ToggleFavoriteTerm_Async();

        this.StateHasChanged();
    }
}
