<div @ref=@this.TooltipElement
        class="tooltip-content"
        style="@this.VisibilityStyle top: @(this.Y)px; left: @(this.X)px;">
    @this.TooltipContent
</div>
@* <div class="tooltip-content" style="transform: translate3d(@(this.Y)px; @(this.X)px, 0);"> *@

<div @onmouseover=@this.ShowTooltip_Async
            @onmouseout=@this.HideTooltip
            style="display: inline-block;">
    @this.Anchor
</div>



@code {
    private string VisibilityStyle => this.IsVisible ? "" : "display: none;";
}