@using System.Threading.Tasks;
@using MindCabinet.Client.Components.Application.Pickers
@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Services.DbAccess
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="@nameof(TermRichEditor)"
            class="basic block @(this.AddedClasses ?? "")"
            style=@this.AddedStyles
            @onclick=@this.OnClick_UI_Async>
    <div style="display: grid; grid-template-columns: 48px 30% 30% 30% minmax(48px, auto);">
        <div>
            @if( this.InitialTerm is not null ) {
                <button class=@(async () => await this.CurrentTermIsFavorite_Async() ? "lit" : "unlit")
                        @onclick=this.OnFavoriteButtonClick_UI_Async>
                    ★
                </button>
            }
        </div>
        <div style="overflow-x: scroll;">
            @{
                string termInputHighlight = !this.TermValueIsValid
                    ? "border-color: red;"
                    : this.TermValue != this.InitialTerm?.Term
                        ? "border-color: yellow;"
                        : "";
            }
            <div style=@termInputHighlight>
                @* @(this.Term?.Term ?? "?") *@
                <input type="text"
                        @bind:event="oninput"
                        @bind:get=@this.TermValue
                        @bind:set=@this.OnEditTermValue_UI_Async
                        @onkeydown=@this.OnEnterTermValue_UI_Async />
            </div>
            @if( this.InitialTerm?.Abbreviation is not null ) {
                string abbrevInputHighlight = !this.AbbreviationValueIsValid
                    ? "border-color: red;"
                    : this.AbbreviationValue != this.InitialTerm.Abbreviation
                        ? "border-color: yellow;"
                        : "";
                <div style=$"font: italics; {color}">
                    @* @this.Term.Abbreviation *@
                    <input type="text"
                            @bind:event="oninput"
                            @bind:get=@this.AbbreviationValue
                            @bind:set=@this.OnEditAbbreviationValue_UI_Async
                            @onkeydown=@this.OnEnterAbbreviationValue_UI_Async />
                </div>
            }
        </div>
        <div style="overflow-x: scroll;">
            @if( this.InitialTerm?.Context is not null ) {
                <TermSearchPicker
                        InitialValue=@(this.InitialTerm?.Context.Term ?? "")
                        OnTermSelect_Async=@this.OnEnterContextTermValue_UI_Async />
            }
        </div>
        <div style="overflow-x: scroll;">
            @if( this.InitialTerm?.Alias is not null ) {
                <s>@this.InitialTerm.Alias.Term</s>
            }
        </div>
        <div>
            @this.PostFix
        </div>
    </div>
    @if( this.InitialTerm?.Description is not null ) {
        <div style="font: italics;">
            @* @this.Term?.Description *@
            <textarea name="post_editor"
                    rows="2"
                    style="white-space: pre-wrap; overflow-wrap: break-word; width: 100%;"
                    @bind:event="oninput"
                    @bind:get=@this.DescriptionValue
                    @bind:set=@this.OnInputDescriptionValue_UI_Async
                    @onkeydown=@this.OnEnterDescriptionValue_UI_Async />
        </div>
    }
</div>



@code {
    private string TermValue = null!;
    private bool TermValueIsValid = false;

    private string AbbreviationValue = null!;
    private bool AbbreviationValueIsValid = false;

    private string DescriptionValue = null!;



    private async Task OnEditTermValue_UI_Async( string value ) {
        this.TermValue = value;

        bool isValid = TermObject.ValidateTerm( value );
        bool isChanged = this.TermValueIsValid != isValid;
        
        if( isChanged ) {
            this.TermValueIsValid = isValid;
            this.StateHasChanged();
        }
    }

    private async Task OnEnterTermValue_UI_Async( KeyboardEventArgs arg ) {
        if( arg.Code != "Enter" && arg.Code != "NumpadEnter" ) {
            return;
        }
        if( this.InitialTerm.Term == this.TermValue ) {
            return;
        }

        if( !TermObject.ValidateTerm(this.TermValue) ) {
            this.TermValueIsValid = false;

            this.StateHasChanged();
        }

        if( this.TermValueIsValid ) {
            await this.UpdateTermValue_Async( this.TermValue );
        }
    }

    private async Task OnEditAbbreviationValue_UI_Async( string value ) {
        this.AbbreviationValue = value;

        bool isValid = TermObject.ValidateTerm( value );
        bool isChanged = this.AbbreviationValueIsValid != isValid;
        
        if( isChanged ) {
            this.AbbreviationValueIsValid = isValid;
            this.StateHasChanged();
        }
    }

    private async Task OnEnterAbbreviationValue_UI_Async( KeyboardEventArgs arg ) {
        if( arg.Code != "Enter" && arg.Code != "NumpadEnter" ) {
            return;
        }
        if( this.InitialTerm.Abbreviation == this.AbbreviationValue ) {
            return;
        }

        if( !TermObject.ValidateTerm(this.AbbreviationValue) ) {
            this.AbbreviationValueIsValid = false;

            this.StateHasChanged();
        }
        
        if( this.AbbreviationValueIsValid ) {
            await this.UpdateAbbreviationValue_Async( this.AbbreviationValue );
        }
    }

    private async Task OnEnterContextTermValue_UI_Async( TermObject value ) {
        if( this.InitialTerm.Context?.Id == value.Id ) {
            return;
        }
        
        await this.UpdateContextValue_Async( value );
    }

    private async Task OnInputDescriptionValue_UI_Async( string value ) {
        this.DescriptionValue = value?
            .Replace( oldValue: "\r", newValue: "" )
            .Replace( oldValue: "\n", newValue: "" ) ?? "";
    }

    private async Task OnEnterDescriptionValue_UI_Async( KeyboardEventArgs arg ) {
        if( arg.Code != "Enter" && arg.Code != "NumpadEnter" ) {
            return;
        }

        if( this.InitialTerm.Description == this.DescriptionValue ) {
            return;
        }

        await this.UpdateDescriptionValue_Async( this.DescriptionValue );
    }


    private async Task OnClick_UI_Async( MouseEventArgs args ) {
        if( this.OnClick_Async is not null ) {
            await this.OnClick_Async( args );
        }
    }

    private async Task OnFavoriteButtonClick_UI_Async( MouseEventArgs args ) {
        /*⭐*/
        await this.ToggleFavoriteTerm_Async();

        this.StateHasChanged();
    }
}
