@using MindCabinet.Shared.Utility;


<CascadingValue Value=@this Name="TabsContainer">
    <CascadingValue Value=@this.TabsRegistry>
        <CascadingValue Value=@this.CurrentTab>
            @this.ChildContent
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<div component-name="@nameof(Tabs)" class="tab-header-container">
    @for( int i=0; i<this.TabsRegistry.Count; i++ ) {
        int idx = i;
        <div class="tab-header" @onclick=@(() => this.ChangeTab(idx))>
            @this.TabsRegistry[i].Header
        </div>
    }
</div>
<div class="tab-body-container">
    @for( int i=0; i<this.TabsRegistry.Count; i++ ) {
        string display = i == this.CurrentTabIndex
            ? ""
            : "display: none;";
        <div style="@display">
            @this.TabsRegistry[i].Content
        </div>
    }
    @* @this.CurrentTab?.Content *@
</div>



@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }


    public void Refresh_UI() {
        this.StateHasChanged();
    }
}
